@import "colors";
// @import "variable";

@mixin clearfix{
  content: '';
  display:table;
  clear: both;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blue{
  color:$color-blu;
}

.navbar-container{
  background-color: $color-black;
  width: 100%;
  height: 180px;

  &-up{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;

    & > ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      & > li{
        margin-right: 15px;
      }
    }
  }

  &-down{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: yellow;

    & > ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      & > li{
        margin-right: 15px;
  }
 }
}

.jumbotron{
  width: 100%;
  height: 500px;
  background-color: blue;

  &-spec{
    width: 1200px;
    height: 100%;
    background-color: green;
    margin: 0 auto;

    &-description{
      width: 800px;
      height: 100%;
      background-color: red;
      margin-left: 400px;
    }
  }
}
